{% extends "layout.njk" %}

{% block content %}

    <form class="card" method="POST" action="/teachers">
        <section class="card__image" style="background: url(https://source.unsplash.com/collection/11490697/500x500) no-repeat center center / cover"></section>
        <section class="details">
            
            <h3>Novo Professor</h3>
                
                <div class="item">
                    <div>Avatar URL</div>
                    <input
                        type="url"
                        name="avatar_url"
                        placeholder="http://dominio.com"
                    >
                </div>

                <div class="item">
                    <div>Nome</div>
                    <input
                        type="text"
                        name="name"
                        placeholder="Nome Sobrenome"
                    >
                </div>

                <div class="item">
                    <div>Data de nascimento</div>
                    <input
                        type="date"
                        name="birth"
                    >
                </div>

                <div class="item">
                    <div>Grau de escolaridade</div>
                    <div>
                        <select name="level_education" required >
                            <option value="null" selected ></option>
                            <option value="high_school">Ensino Médio Completo</option>
                            <option value="undergraduate">Ensino Superior Completo</option>
                            <option value="masters_degree">Mestrado</option>
                            <option value="phd">Doutorado</option>
                        </select>                        
                    </div>
                </div>

                <div class="item">
                    <div>Tipo de aula</div>
                    <div>
                        <span><input type="radio" name="type_class" value="remotely">À distância</span>
                        <span><input type="radio" name="type_class" value="in_person">Presencial</span>
                        <span><input type="radio" name="type_class" value="mentoring">Mentoria</span>
                    </div>
                </div>

                <div class="item">
                    <div>Área de atuação</div>
                    <input
                        type="text"
                        name="services"
                        placeholder="Escreva as matérias separando com vírgula."
                    >
                </div>

                <div class="button">
                    <button type="submit">SALVAR</button>
                </div>

        </section>

    </form>

{% endblock content %}