<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    {% block head %}
        <title>Foodfy</title>
    {% endblock%}

</head>

<body>
    <div class="container">
        <header>
            <nav>
                <div class="menu__logo">
                    <a href="/"><img src="/assets/logo.png" alt="Logo Foodfy"></a>
                </div>
                <div class="menu">
                    <a href="/about" class="menu__link">Sobre</a>
                    <a href="/recipes" class="menu__link">Receitas</a>
                </div>
            </nav>
        </header>
    
        {% block content %}
        {% endblock %}

    </div>
    
<footer>
    <p>Todos os direitos reservados, receitas Foodfy.</p>
</footer>

</body>

</html>