{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <section class="card__image"
        style="background: url({{ student.avatar_url }}) no-repeat center center / cover">
    </section>

    <section class="details">
        <form id="form-edit" method="post" action="/students?_method=PUT">
                
            <h3>Editar Perfil</h3>
                
            {% include "students/fields.njk" %}
    
            <input
                type="hidden"
                name="id"
                value="{{ student.id }}"
            >                        
                   
        </form>

        <form id="form-delete" method="post" action="/students?_method=DELETE">
            
            <input
                type="hidden"
                name="id"
                value="{{ student.id }}"
            >            

        </form>
        
        <div class="buttons">
            <button type="submit" form="form-delete">DELETAR</button>
            <button type="submit" form="form-edit">SALVAR</button>
        </div>

        {% include "confirm.njk" %}
        
    </section>
</div>

{% endblock content %}